<h1>Signup</h1>

<%= form_for(@user) do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "Please enter your name!" %>
  </p>

  <p>
    <%= f.label :email %>
    <%= f.text_field :email, placeholder: "Register with your email!!" %>
  </p>

  <p>
    <%= f.label :password %>
    <%= f.password_field :password%>
  </p>

  <%= f.submit %>

<% end %>
